*, html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    /* background-color: #fffcfc; */
}

/* * {
    scroll-snap-align: start;
} */

/* *::-webkit-scrollbar{
    display: none;
} */

header {
    position: fixed;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

main {
    min-height: 100vh;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;*/


/* NAVBAR */

.nav_container_pc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 0 20px;
}

.nav_container_pc .links {
    /* width: 30%; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav_container_pc .links ul {
    display: flex;
}

.nav_container_pc li {
    list-style: none;
    margin-right: 50px;
}

.nav_container_pc a {
    text-decoration: none;
    
}

.nav_container_pc ul li a:hover {
    filter:drop-shadow(3px 3px 3px #d29898);
    transition: all 0.2s ease;
}

.nav_container_pc ul li a.active {
    background-color: #d29898;
}

.nav_container_pc .links p {
    color: black;
    transition: all 0.1s ease;
}

.nav_container_pc .nav-text {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.nav_container_pc .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100px;
    border-bottom: 1px solid #ccc ;
}

.nav_container_pc .logo p {
    color: #d29898;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: bold;
}

.nav_container_pc .logo span {
    color: black;
}

/* MAIN */

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    text-shadow: 1px 1px 2px black;
}

.nav_container {
    display: none;
}


/* HOME SECTION */
.home_container_mobile {
    display: none;
}

.home_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.home_container .left {
    position: relative;
    flex:0.5;
}

.home_container .left .wrapper {
    /* width: 100%;
    height: 100%; */
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_container .left .hr_line {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    border-top: 2px solid #d29898;
    margin: 1em 0;
    padding: 0;
}

.home_container .right {
    flex:0.5;
    overflow: hidden;
    /* margin-right: 10%; */
}

.home_container .right .img_container {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_container .right .hero {
    width: 80vw;
}

.home_container .arrow {
    bottom: 0;
    position: absolute;
    left: 50%;
   
}

.arrow_about {
    animation: arrowBlink 2s infinite;
}

@keyframes arrowBlink {
    100% {
        opacity: 0;
    }
}    

.home_title {
    padding-left: .75em;
    font-size: 4rem;
}

/* .home_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-left: 2.5em;
} */

.home_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding-left: 2em;
    animation: slide-up 2s;
}

@keyframes slide-up {
    from {
        opacity: .25;
        line-height: 100px;
    }
    to {
        opacity: 1;
        line-height: 25px;
    }
}


/* ABOUT SECTION */

.about_container_mobile {
    display: none;
}

.about {
    background-color: #ffe7e7;
}

.about_container {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    align-items: center;
}

.about_container .right {
    position: relative;
    flex: 0.5;
}


.about_container .left {
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about_container .left .img_container {
    margin: 0 auto;
    position: relative;
    padding: 0;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_container .left .avatar {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.about_container .right .wrapper {
    width: 600px;
    height: 600px;
    margin-right: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 35px;
    background-color: #fff;
}

.about_title {
    text-align: center;
}

.about_container .right .hr_line {
    display: block;
    width: 450px;
    height: 1px;
    border: 0;
    border-top: 2px solid #d29898;
    margin: 1em 0;
    padding-bottom: 1em;
}

.about_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    /* padding-right: 5em; */
    padding-bottom: 1em;
    text-align: center;
}

.about_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-left: 3.3em;
    padding-right: 5em;
}

.about-details {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-left: 3.3em;
}

.about_container ul {
    padding-left: 4em;
}

.about_container li {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.viewmore {
    width: 300px;
    height: 50px;
    color: #000;
    border: 2px solid #d29898;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    cursor: pointer;
}

.viewmore:hover {
    filter:drop-shadow(5px 5px 5px #d29898);
    transition: all 0.2s ease;
}


/* WORK SECTION */

.work__category__wrapper .work__categories {
    display: flex;
    gap: 12px;

}

.work__category__wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

.work__category__wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.work__categories .work__category a {
    color: #000;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0;
    text-align: center;
    border-radius: 22px;
    border: 2px solid #d29898;
    min-width: 200px;
}

.hover-togreen {
    position: relative;
    transition: 0.3s;
}

.work__categories .work__category a {
    text-decoration: none;
    color: inherit;
    transition: opacity 0.3s;
}

.work_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-bottom: 5em;
    margin-top: 5em;
}
.work_container .hr_line {
    display: block;
    width: 200px;
    height: 1px;
    border: 0;
    border-top: 2px solid #d29898;
    margin: 1em 0;
    padding-bottom: 1em;
}

.work_grid {
    margin-top: 80px;
    display: grid;
    /* width: 100%; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.work_item {
    position: relative;
    width: 350px;
    height: 170px;
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}   

.work_grid img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

 .work_grid img:hover {
    opacity: 0.6;
    transition: transform .8s ease;
    transform: scale(1.5);
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.modal-content {
    background: white;
    padding: 25px;
    width: 600px;
    height: auto;
    border-radius: 12px;
    /* text-align: center; */
    position: relative;
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

/* Effet d’apparition */
.modal.show {
    display: flex;
    opacity: 1;
}

.modal.show .modal-content {
    transform: translateY(0);
    opacity: 1;
}

/* Bouton de fermeture */
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    color: black;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Lien du projet */
/* #modal-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

#modal-link:hover {
    background: #0056b3;
} */

/* #modal-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
} */

#modal-title-link {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #000;
    display: inline-block;
}

#modal-title-link::after {
    position: absolute;
    content: "";
    background-image: url(./img/link.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 12px;
    /* right: 40px; */
    /* top: 10%; */
    margin-left: 10px;
}

#modal-description {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

#modal-subtitle {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 13px;
}

#modal-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: none; /* Caché par défaut, s'affiche quand une image est chargée */
    margin-bottom: 20px;
}

#modal-image img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

/* PORTFOLIO SECTION */


.portfolio_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.portfolio_title {
    text-align: center;
}

.portfolio_container .hr_line {
    display: none;
}

.portfolio_grid {
    margin-top: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    position: relative;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(240, 239, 239);
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all .5s ease;
    box-shadow: 1px 1px 2px #ccc;
    overflow: hidden;
  
}

.portfolio_grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio_grid a:hover {
    opacity: 0.6;
}

.portfolio_grid a {
    position: absolute;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: inherit;
    text-decoration: none;
}

.arrow_work {
    animation: arrowBlink 2s infinite;
    position: absolute;
}

@keyframes arrowBlink {
    100%{
        opacity: 0;
    }
}  

/* .home_container, .about_container, .portfolio_container, .work_container,
.contact_container, footer {
    display: none;
} */

/* CONTACT SECTION */

.contact_container {
    display: none;
}

/* FOOTER */

footer {
    text-align: center;
    padding-left: 5%;
    padding-bottom: 1em;
}
footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    *, body {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0;
    }

    body::-webkit-scrollbar {
        display: none;
    }
    
    main {
        min-height: 100vh;
        overflow: hidden;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }

    .nav_container_pc {
        display: none;
    }

    .nav_container {
        display: inline-flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
        margin-bottom: 5em;
        width: 100%;
        background-color: white;
        z-index: 1;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .sticky + .home_container_mobile {
        padding-top: 20px;
      }

    .nav_container .logo {
        width: 60px;
        margin: 0 10px;
    }

    .overlay {
        position: relative;
        display: inline-block;
        margin-right: 0;
        padding: 0;
    }
      
    .overlay .overlaytext {
        width: 100vw;
        background-color:white;
        color: black;
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 114%;
        right: 0;
        padding:50px 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .overlaytext ul {
        list-style: none;
        font-family: 'Montserrat', sans-serif;    
    }

    .links-small {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 2em;
    }
    
    .links-small a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif; 
    }

    .hide {
        visibility: hidden;
    }

    .visible {
        visibility: visible;
    }
    
    .hamburger {
        font-size: 40px;
        color: black;
        cursor: pointer;
        margin-right: 0;
        padding-right: 15px;
    }

    /* HOME CONTAINER */

    .home_container {
        display: none;
    }

    .home_container_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        padding-bottom: 5em;
        margin-top: 100px;
    }  

    .home_container_mobile .img_container {
        width: 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    .home_container_mobile .hero {
        width: 500px;
    }
    
    .home_title {
        font-size: 3rem;
        text-align: center;
        padding: 0;
    }
    .home_container_mobile .hr_line {
        display: block;
        width: 100%;
        height: 1px;
        border: 0;
        border-top: 2px solid #d29898;
        margin: 1em 0;
        padding: 0;
    }
    .home_subtitle {
        text-align: center;
        font-size: 1rem;
        padding-bottom: 10px;
        padding: 0;
        animation: none;
    }

    /* ABOUT ME */
    .about_container {
        display: none;
    } 

    .about_container_mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 3em;
    }

    .about_container_mobile .about_title {
        font-size: 3rem;
        text-align: center;
        padding: 0;
    }

    .about_container_mobile .hr_line {
        display: block;
        width: 100%;
        height: 1px;
        border: 0;
        border-top: 2px solid #d29898;
        margin: 1em 0;
        padding: 0;
    }

    .about_container_mobile .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about_container_mobile .img_container {
        margin: 0 auto;
        position: relative;
        padding: 0;
        height: 500px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .about_container_mobile .avatar {
        width: 200px;
    }

    .about_container_mobile .about_subtitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        text-align: center;
        padding: 0;
    }
    
    .about_container_mobile .about_text {
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        padding: 0;
        text-align: justify;
        padding: 20px;
    }

    .about_container_mobile .about-details {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        text-align: center;
        padding: 0;
    }
    
    .about_container_mobile ul {
        padding: 0;
        padding: 30px;
    }
    
    .about_container_mobile li {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }
    
    /* PORTFOLIO SECTION */

    .portfolio_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding-left: 0;
        padding-bottom: 3em;
    }
    .portfolio_container .hr_line {
        display: block;
        width: 100%;
        height: 1px;
        border: 0;
        border-top: 2px solid #d29898;
        margin: 1em 0;
        padding: 0;
    }

    .portfolio_grid {
        margin-top: 1em;
        width: 100%;
    }

    /* WORK SECTION */
    
    .work_container {
        padding-left: 0;
        padding-bottom: 3em;
    }

    .work_container .hr_line {
        display: block;
        width: 100%;
        height: 1px;
        border: 0;
        border-top: 2px solid #d29898;
        margin: 1em 0;
        padding: 0;
    }

    .work_grid {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    /* CONTACT SECTION */

    .contact_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 0;
        padding-bottom: 3em;
    }

    .contact_container .hr_line {
        display: block;
        width: 100%;
        height: 1px;
        border: 0;
        border-top: 2px solid #d29898;
        margin: 1em 0;
        padding: 0;
    }

    .contact_container .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 20px;
        width: 100%;
    }

    .contact_container .wrapper img {
        width: 60px;
    }

/* FOOTER */

    footer {
        text-align: center;
        padding-left: 5%;
        padding-bottom: 1em;
    }
    footer p {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 400;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
    .work_grid {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .work__category__wrapper .work__categories {
        width: 100%;
        flex-direction: column;
    }
}